<h1> Project </h1>
<b><%= @project.name %></b>
<p><%= @project.owner.email %></p>
<h1> Tasks </h1>
<table class='table'>
  <% @project.tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.due_date %></td>
      <td><%= task.assignee.email %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'All projects', projects_path %>
